
/3dModels/OldVersions
/3dModels/Slider/OldVersions
/PCB/AudMix/AudMix-backups
/3dModels/LedStrip/OldVersions
/PCB/AudMixBottom/AudMixBottom-backups
/PCB/AudMixTop/AudMix-backups
/PCB/AudMixMacroPad/AudMixMacroPad-backups
/PCB/AudMixTop/gerbers
/PCB/AudMixBottom/AudMixBottom_homemade-backups
PCB/AudMixTop/AudMix.kicad_prl
PCB/AudMixBottom/AudMixBottom.kicad_prl
AudMix/sdkconfig.seeed_xiao_esp32c3.old
PCB/AudMixBottom/fp-info-cache
PCB/AudMixBottom/AudMixBottom_homemade.kicad_prl
