
/3dModels/OldVersions
/3dModels/Slider/OldVersions
/PCB/AudMix/AudMix-backups
/3dModels/LedStrip/OldVersions
/PCB/AudMixBottom/AudMixBottom-backups
/PCB/AudMixTop/AudMix-backups
/PCB/AudMixMacroPad/AudMixMacroPad-backups
/PCB/AudMixTop/gerbers
/PCB/AudMixBottom/AudMixBottom_homemade-backups
